.address{
     display: flex;
     flex-direction: column;
     width: 231px;


     @media  screen and (max-width:1199px) {
      text-align: center;
     }

       
      
  
     


    color: $whiteColor;


    font-style: normal;
    font-size: 14px; 
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 20px;

    transition: color $transitionTime;


    &:hover, &:focus {
    color: $accentColor;
  }


  &__link {
    color: $whiteColor;
    opacity: 0.6;
    

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    transition: color $transitionTime;



    &:hover, &:focus {
  color: $accentColor;
}
}

  &__element--position{
    margin-bottom: 6px;
    margin-top: 9px;
  }
}
