.menu-container{
    display: none;
    padding: 48px 40px;

    
    background-color: $whiteColor;
    
    height: 100%;
    width: 100%;


    &.is-open{
        display: block;
    }

    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    @media screen and (min-width: 768px){
        display: flex;
    }

}


.mobmenu__button{
    display: inline-flex;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 1;

    @media screen and (min-width: 481px) {
        display: none;
    }
}
.mobmenu__button .icon-closemenu {
    display: none;
}

.mobmenu__button.is-open .icon-closemenu {
    display: block;
}


.mobmenu__button.is-open .icon-mobmenu {
    display: none;
}


.menu-desktop{
    display: flex;
     

    @media screen and (max-width: 480px) {
        display: none;
        
    }
}


.mobmenu-nav{
    display: block;
    
    
    // display: flex;




&__link{
    display: block;
    color: $primaryColor;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.02em;

    transition: color $transitionTime;


  &__link:hover, &__link:focus {
    color: $accentColor;
        }
      }
    }

    .mobmenu-address{
    
      display: flex;
      flex-direction: column;
      justify-content: center;

  &__item{
    margin-top: 32px;
  }

 &__link{
    display: flex;
    color: $secondaryColor;

    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    transition: color $transitionTime;



   &:hover, &:focus {
  color: $accentColor;
    }
  }
}


.mobmenu-socials{
    display: flex;
   


    &__link{
       
        color: $accentColor;

        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
     

    }


}



