
.menu-container {
    display: flex;
    flex-direction: column;
    

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: $whiteColor;
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }


  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }


.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    // z-index: 2;
  
    margin-left: auto;
    // 0 from workshop
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }

.menu-desktop{
    display: flex;
    
     

    @media screen and (max-width: 480px) {
        display: none;   
    }

    // @media screen and (min-width: 1200px) {
    //     margin-left: 93px;   
    // }


}


.mobmenu-nav{
   margin-bottom: auto;


&__link{
    display: block;
    color: $primaryColor;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.02em;

    transition: color $transitionTime;


  &:hover, &:focus {
    color: $accentColor;
        }

   &--current{
    color: $accentColor;
   }   

      }
    }

    .mobmenu-address{
    
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: auto;

  &__item{
    margin-top: 32px;
  }

 &__link{
    display: flex;
    color: $secondaryColor;

    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    transition: color $transitionTime;



   &:hover, &:focus {
  color: $accentColor;
    }
  }

  &__link--accented{
    color: $accentColor;

    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    @media  screen and (min-width: 460px) {
      font-size: 34px;
     
   }

  }
}

.icon-closemenu:hover, .icon-closemenu:focus{
  color: $accentColor;
}








.mobmenu-socials{
    display: flex;

    &__link{
       
        color: $accentColor;

        font-size: 12px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
        margin-right: 10px;

        @media  screen and (min-width: 460px) {
           font-size: 18px;
          
        }


    &__link--no-border{
      border: none;
      }

   }
}