.socmed{
    display: flex;
    list-style: none;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 30px;
    padding-left: 32px;
    justify-content: center;
    


 &__element{
    margin-right: 10px;
   
}

 &__element--no-margin{
    margin-right: 0;
}

 &__link{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color:#AFB1B8;

    transition: background-color $transitionTime,
                color $transitionTime;



 &:hover, &:focus{
    background-color: $accentColor;
    color: $whiteColor;
  
}
}

 &__icon{
    fill: currentColor;
  }
 }
 
