.body{
    font-family: $primaryFont, sans-serif;
    color: $primaryColor;
    font-style: normal;
}
.section{
    padding-top: 60px;
    padding-bottom: 60px;
    // padding-bottom: 94px;
 }

 .img{
    display: block;
    max-width: 100%;
    height: auto;
 }




